.titulo {
    color: red;
    font-size: 2em;
    line-height: 2.5em;
    text-align: justify;
}

.diamondContainer .col-sm-auto {
    padding-right: 0;
    padding-left: 0;
}

.noHead {
    font-size: 0;
    height: 0em;  
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.subTitulo {
    color: darkcyan;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.colorLetraRojo{
    color: red;
}

.fuenteDiamond {
    margin-bottom: 1em;
    /*justificacion de parrafo*/
    font-size: 1.5em
}

.parrafo {
    /*margin-bottom: 1em;*/
    line-height: 1.2em;
    text-align: left;
    /*justificacion de parrafo*/
    text-align: justify;
    font-size: 1.7em;
}

.parrafoIC {
    margin-bottom: 0em;
    padding-top: 0em;
    line-height: 1.2em;
    text-align: left;
    /*justificacion de parrafo*/
    text-align: justify;
    font-size: 1.3em;
}

/deep/ .fuenteComponentes {
    text-align: left;
    /*justificacion de parrafo*/
    text-align: justify;
    font-size: 5em;
}

.parrafoWhite {
    text-align: justify;
    color: white;
    font-size: 1.7em;
    margin-bottom: 1em;
}

.maxh {
    max-height: 30em;
    overflow: auto;
}

.row {
    text-align: start;
    display: inline-flex;
    margin: 0;
}

.Blue {
    background-color: cornflowerblue;
}

.Red {
    background-color: crimson;
}

.Yelow {
    background-color: yellow;
}

.Green {
    background-color: chartreuse;
}